.masthead-followup-icon {
    padding: 0.75rem;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.bg-orange {
    background-color: #fb542b;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
